body {
  background-color: #F2F2C2;
}
.nav-con {
  position: fixed;
  top: 0;
  background-color: #2F3F2F;
  width: 100%;
  z-index: 1;
  padding-bottom: 10px;
  color: #F2F2C2;
}
.navbar {
  list-style-type: none;
  font-family: monospace;
}
li {
  float: left;
}
.title {
  padding-top: 10px;
  margin: 0px;
  font-size: xx-large;
}
.nav-options {
  display: block;
  text-align: center;
  padding: 14px 30px;
  float: right;
}
.myprof,
.logout {
  text-decoration: none;
  color: #F2F2C2;
  font-size: large;
}
.content-con {
    padding-top: 50px;
    text-align: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.all-profiles {
  padding: 20px;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: monospace;
  justify-content: center;
  text-align: center;
  justify-content: flex-end;
}
.profpic {
  padding-top: 10px;
  filter: sepia(100%);
  opacity: 0.2;
  height: 120px;
}
.loading {
  text-align: center;
}
.details {
  text-align: start;
}
.profile-links {
  display: flex;
}
.viewprof {
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  background-color: #2F3F2F;
  color: #F2F2C2;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.loading{
  filter: sepia(1);
}