.main-con{
    display: grid;
    background-color: #F2F2C2;
    height: 100vh;
}
.main-title{
    background-color: #2F3F2F;
    text-align: center;
    font-family: monospace;
    color: #F2F2C2;
}
.title{
    padding-top: 25px;
    margin: 0px;
}
.title-des{
    padding-top: 0px;
    font-size: large;
    font-weight: 500;
}
.outer-con {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 132px;
    margin-top: 0px;
    font-family: monospace;
    background-color: #F2F2C2;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 300px;
    width: 500px;
    filter: drop-shadow(2px 4px 6px black) sepia(1) hue-rotate(30deg);
}
.right-con{
    text-align: justify;
    color: #2F3F2F;
    
}
.left-con{
    text-align: center;
}
.img-con{
    position: relative;
    text-align: center;
    color: #F2F2C2;
    padding-top: 50px;
}
.content{
    font-size: large;
    padding: 50px 100px 0px 10px ;
}
.reg-btn,.log-btn{
    padding: 15px 30px ;
    background-color: #2F3F2F;
    text-decoration: none;
    color: #F2F2C2;
    margin: 100px;
    font-size: large;
    border-radius: 10px;
}
.buttons{
    margin: 50px 200px 30px 10px;
}
.footer-con{
    background-color: #2F3F2F;
    text-align: center;
    font-family: monospace;
    color: #F2F2C2;
}
.copyright{
    margin: 0px;
}