

.our-details{
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    font-family: monospace;
    justify-content: flex-end;
}
.our-profile,.img-con{
    padding-top: 50px;
}
.ourprofpic{
    padding-top: 10px;
    filter: sepia(100%);
    opacity: 0.5;
    height: 120px;
    display: grid;
}
.our-profile{
    text-align: start;
}
.table-con{
    text-align: center;
    border-collapse:collapse ;
    background-color: #F2F2C2;
    height: fit-content;
}
.tr-css,.td-css,.th-css{
    padding: 10px;
    opacity: 0.7;
}

.table-title{
    padding: 10px;

}
